{% load staticfiles %}

{% block block %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Funda comunal|inicio </title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/mainrese.css' %}">
    <link rel="stylesheet" href="{% static 'cssweb/css/styleee.css' %}">
    <link rel="/static/imgs/shortcut icon" href="{% static 'img/logo/venezuela.jpg' %}">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <script src="//use.edgefonts.net/bebas-neue.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/icomoon-social.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <script src="{% static 'js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <img src="{% static 'img/logo/centillounico.png' %}" style="max-width: 100%;width:100%; height: 50px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><img src="" alt=""></a>
            </div>
            <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav navbar-right">
                    <li ><a href="/inicio/">Inicio <i class="fa fa-home"></a></li></i>
                    <li><a href="/mision/" >Misión <i class="fa fa-file-text-o"></a></li></i>
                    <li><a href="/vision/">Visión <i class="fa fa-file-text-o"></a></li></i>
                    <li class="active"><a href="/resena/">Reseña Historica <i class="fa fa-file-text-o"></a></li></i>
                    <li><a href="/usuario/">Acceder <i class="fa fa-unlock-alt"></a></li></i> 
                </ul>    
            </div>
        </div>
    <center>
</header> 
<div id="container">
<section id="services" class="section pad-bot5 ">
<div class="container"> 
<div class="col-md-offset-3 col-md-6">
<div class="section-header">
<div class="wow bounceIn"data-animation-delay="7.8s">
<div class="wow rotateIn">
<div class="service-col">
<div class=""> 
<figure><i class=""></i><label>Reseña </label>
<p>Posiblemente el nombre de Nuevas Brisas se debe a algún visitante a la Orchila que conforme con sus lapsos de parranda, haciendo comparación con otros sectores se decía que aquí se siente nuevas brisas.
El barrio se fundó relatan sus fundadores, en un sector a los que se le denominaba la “ORCHILA”, ese lugar era un sitio donde los hombres acudían a relacionarse con mujeres dispuestas a complacerlos, este lugar se encuentra ubicado en un sector repleto de árboles y al que se le llamaba  en aquel entonces camino real,a los años quizás entre 1952, se instaló la primera casa frente a lo que hoy se conoce como la Avenida Simón Bolívar, esa casa era jefe de familia Don Antonio Colmenares “El Zorro”, conocido en nuestro estado como el primen gran pescador de caimanes, Don Antonio Colmenares y su familia fueron quienes comenzaron a poblar el sector, este sector no tenía nombre, con el tiempo llegó Don Juan León Zambrano, tenía ganado y ocupaba grandes lotes de tierras de lo  que hoy es el Aeropuerto de Guanare, ya existen los tubos que suministraban el agua a la población guanareña.
.</p>
</figure>
 </div>
         </div>
    </div>
</div> 
  </div>
</div> 
  </div>

</div> 

</div>
        <div class="footer">
            <div class="container">         
                <div class="row">     
             <div class="col-md-12">
                        <div class="footer-copyright">&copy; 2017  | Programadores | | U.P.T.P .J.J "Montilla"|</c></maquee>| Gonzalez Jasnelvi | | Becerra Yohender | | Aguirre Franklin |</a></div>
                    </div>
                </div>
            </div>
        </div> 
               


        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/jquery-1.9.1.min.js' %}"><\/script>')</script>
        <script type="text/javascript" src="js/fliplightbox.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'js/scrolling-nav.js' %}"></script>
        <script src="{% static 'js/functions.js' %}"></script>   
        <script src="{% static 'js/wow.min.js' %}"></script>
        <script>wow = new WOW({}).init();</script>
        <script src="{% static 'contactform/contactform.js' %}"></script>  

    </body>
</html>
{% endblock %}