{% load staticfiles %}

{% block content%}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{% static 'cssform/css/preloader.css' %}">

	<meta http-equiv="Refresh" content="6;url=/iniciohab/">
	<title>Fundacomunal</title>
</head>
<body>		
	<div class="container" id="container">
	    <h1>
	        <img class="img1" src="/static/img/preloader1.gif">
	    </h1>
		<div class="preloader">
			<p>Cargando...</p>
		</div>
	</div>
	<script src="/static/js/preloader.js"></script>
</body>
</html>
{% endblock content%}
