{% load staticfiles %}

{% block content%}
<!DOCTYPE html>
<html lang="es">
<head>
     <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
    <script src="{%static 'js/jquery.js' %}"></script>
  
    <script src="{% static 'media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'media/js/dataTables.bootstrap.min.js' %}"></script>
     
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Shortcut Icon" type="image/x-icon" href="assets/icons/book.ico" />
    
    <link rel="stylesheet" href="{% static 'cssform/css/sweet-alert.css' %}">

    <link rel="/static/imgs/shortcut icon" href="{% static 'cssform/assets/img/logos.jpg' %}">
    
    <link rel="stylesheet" href="{% static 'cssform/css/material-design-iconic-font.min.css' %}">

    <link rel="stylesheet" href="{% static 'cssform/css/normalize.css' %}">
    

    <link rel="stylesheet" href="{% static 'cssform/css/bootstrap.minhab.css' %}">
   
    
    <link rel="stylesheet" href="{% static 'cssform/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'cssform/css/jquery.mCustomScrollbar.css' %}">
</head>
<body>
    <div class="content-page-container full-reset custom-scroll-containers">
     <img src="{% static 'img/logo/centillounico.png' %}" style="max-width: 100%;width:100%; height: 50px;">
        <nav class="navbar-user-top full-reset">
            <ul class="list-unstyled full-reset">
                  <figure>
                   <img src="{% static 'cssform/assets/img/grupo (1).png'%}" alt="user-picture" class="img-responsive img-circle center-box">
                </figure>
                <li style="color:#fff; cursor:default;">
                    <span class="all-tittles">{%if user.is_authenticated %} {{user.username}}{%endif%}</span>
                </li>
                <li  class="tooltips-general exit-system-button" data-href="index.html" data-placement="bottom" title="Salir del sistema">
                    <i class="zmdi zmdi-power"></i>
                </li>
                <li  class="tooltips-general search-book-button" data-href="searchbook.html" data-placement="bottom" title="Buscar libro">
                    <i class="zmdi zmdi-search"></i>
                </li>
                <li  class="tooltips-general btn-help" data-placement="bottom" title="Ayuda">
                    <i class="zmdi zmdi-help-outline zmdi-hc-fw"></i>
                </li>
           <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="zmdi zmdi-eye"></span>  
               Listado  de profesor </span><b class="zmdi zmdi-caret-down-circle"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/listado_profesor/"><span class="zmdi zmdi-mail-send"></span> listado de profesor</a></li>
            <li class="divider"></li>
            <li><a href="/listado_seccion/"><span class="zmdi zmdi-mail-send"></span> listado de seccion </a></li>
            <li class="divider"></li>
            <li><a href="/listado_seccionprof/"><span class="zmdi zmdi-mail-send"></span> listado de seccion profesor</a></li>
           

        </ul>
        </li>
       <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="zmdi zmdi-eye"></span>  
           Listado de enfermedad </span><b class="zmdi zmdi-caret-down-circle"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/listado_enfermedad/"><span class="zmdi zmdi-mail-send"></span> listado de enfermedad</a></li>
            <li class="divider"></li>
            <li><a href="/listado_enfermedadal/"><span class="zmdi zmdi-mail-send"></span> listado de enfermedad alumno</a></li>
         </ul>
                </li>
       <li class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="zmdi zmdi-eye"></span>  
           Listado de alumno </span><b class="zmdi zmdi-caret-down-circle"></b></a>
        <ul class="dropdown-menu">
              <li><a href="/listado_de_representante/"><span class="zmdi zmdi-mail-send"></span> listado de representante</a></li>
             <li class="divider"></li>
            <li><a href="/listado_alumno/"><span class="zmdi zmdi-mail-send"></span> listado de alumno</a></li>
             <li class="divider"></li>
             <li><a href="/listado_inscripcion/"><span class="zmdi zmdi-mail-send"></span> listado de inscripcion</a></li>
        </ul>
        </nav>
        <div class="container">
            <div class="page-header">
                <ul class="list-unstyled text-center list-catalog-container">
                <li class="list-catalog">Listado de los alumos</li>
            </ul
            </div>
        </div>
        <div class="conteiner-fluid">
        </div>
        <div class="container-fluid"  style="margin: 50px 0;">
        <div class="col-sm-0 col-sm-offset-0">
        <div class="container-fluid" style="margin: 0 0 -48px 0;">
                </div>
            </div>
        </div>
  <br><br>
<div class="container">
<h1></h1>
<table class="table table-striped table-bordered table-hover" id="mydata">
  <thead>
   <tr>
      <td class="active">Cedula Escolar</td>
      <td class="active">Nombres</td>
      <td class="active">Apellidos</td>
      <td class="active">Direccion</td>
   </tr>
  </thead>
  <tbody>
    {% for alumno  in queryset%}
    <tr>
      <td class="active">{{alumno.cedula_escolar}}</td>
      <td class="active">{{alumno.codigo_hab.codigo_hab}}</td>
      <td class="active">{{alumno.procedencia_alumn}}</td>
      <td class="active">{{representante.religion}}</td>
    </tr>
    {% endfor %}

  </tbody> 
</table>
</div>
<script>
$('#mydata').dataTable();
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'cssform/js/jquery-1.11.2.min.js' %}"><\/script>')</script>
<script src="{% static 'cssform/js/modernizr.js' %}"></script>
<script src="{% static 'cssform/js/bootstrap.min.js' %}"></script>
<script src="{% static 'cssform/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'cssform/js/sweet-alert.min.js' %}"></script>
<script src="{% static 'cssform/js/main.js' %}"></script>
<script src="{% static 'cssform/js/sweet-alert.min.js' %}"></script>

{% endblock content %}