.tdmultimediaimg {
    width: 186px;
    height: 104px;
    margin-top: -17px;
    margin-left: 10px;
}
* {
    font-family: FreeSans,Arial;
    margin: 0;
    padding: 0;
}
Inherited from a.html5lightbox
a {
    color: #bf1e2e;
    font-size: 11px;
    cursor: pointer;
    text-decoration: none;
}