{% load staticfiles %}

{% block extrahead%}

<title>Sisconc BNB</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'cssform/css/sweet-alert.css' %}">
    <link rel="/static/imgs/shortcut icon" href="{% static 'cssform/assets/img/logos.jpg' %}">
    
    <link rel="stylesheet" href="{% static 'cssform/css/material-design-iconic-font.min.css' %}">

    <link rel="stylesheet" href="{% static 'media/css/dataTables.bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'cssform/css/normalize.css' %}">
    
    <link rel="stylesheet" href="{% static 'cssform/css/main.css' %}">
    
    <link rel="stylesheet" href="{% static 'cssform/css/jquery.mCustomScrollbar.css' %}">
    
    <link rel="stylesheet" href="{% static 'cssform/css/baseshabitante.css' %}">

<div class="navbar-lateral full-reset">
        <div class="visible-xs font-movile-menu mobile-menu-button"></div>
        <div class="full-reset container-menu-movile custom-scroll-containers">
            <div class="logo full-reset all-tittles">
                <i class="visible-xs zmdi zmdi-close-circle pull-left mobile-menu-button" style="line-height: 55px; cursor: pointer; padding: 0 10px; margin-left: 7px;"></i> 
                Sisconc BNB
            </div>
             <div class="full-reset" style="background-color:#113452; padding: 10px 0;color:#fff;">
            <figure>
                    <img src="{%  static 'cssform/assets/img/018-people-57.png'%}" alt="universidad" class="img-responsive center-box " style="width:55%;">
                </figure >
            <div class="text-center">
                <p class="text-center" style="padding-top: 2px;    margin-left: 5px;navbar-user-status-online">Online  {%if user.is_authenticated %} {{user.username}}{%endif%}</p>
             <div class="navbar-user-status-online"></div>
            </div>
            </div>
            <div class="full-reset nav-lateral-list-menu">
                <ul class="list-unstyled">
                    <li><a href="/iniciohab/"><i class="zmdi zmdi-home zmdi-hc-fw"></i>&nbsp;&nbsp; Inicio</a></li>
                    <li>
                        <div class="dropdown-menu-button"><a><i class="zmdi zmdi-local-wc zmdi-hc-fw"></i>&nbsp;&nbsp; Añadir Registros del Habitante<i class="zmdi zmdi-arrows pull-right zmdi-hc-fw"></i></a></div>
                        <ul class="list-unstyled">
                            
                            <li><a href="/habitante/"><i class="zmdi zmdi-accounts-alt zmdi-hc-fw"></i>&nbsp;&nbsp; Añadir el Habitante<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                            <li><a href="/beneficio/"><i class="zmdi zmdi-account-o zmdi-hc-fw"></i>&nbsp;&nbsp; Añadir Beneficio<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>


                            <li><a href="/donacion/"><i class="zmdi zmdi-account-o zmdi-hc-fw"></i>&nbsp;&nbsp; Añadir la Donacion<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                            <li><a href="/solicitud/"><i class="zmdi zmdi-account-o zmdi-hc-fw"></i>&nbsp;&nbsp; Añadir Solicitud<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                            <li><a href="/inspeccion/"><i class="zmdi zmdi-account-o zmdi-hc-fw"></i>&nbsp;&nbsp; Añadir Inspeccion<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                            <li><a href="/entrega/"><i class="zmdi zmdi-account-o zmdi-hc-fw"></i>&nbsp;&nbsp; Añadir la Entrega<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                             <li><a href="/supervicion/"><i class="zmdi zmdi-account-o zmdi-hc-fw"></i>&nbsp;&nbsp; Añadir la Supervisión<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                        </ul>
                    </li> 
                      <li>
                        <div class="dropdown-menu-button"><a><i class="zmdi zmdi-local-wc zmdi-hc-fw"></i>&nbsp;&nbsp; Añadir Registros de alumno<i class="zmdi zmdi-arrows pull-right zmdi-hc-fw"></i></a></div>
                        <ul class="list-unstyled">
                            
                              <li><a href="/representante/"><i class="zmdi zmdi-accounts-outline zmdi-hc-fw"></i>&nbsp;&nbsp; Añadir Representante<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>
                            <li><a href="/alumno/"><i class="zmdi zmdi-face zmdi-hc-fw"></i>&nbsp;&nbsp;Añadir Alumnos<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                            <li><a href="/inscripcion/"><i class="zmdi zmdi-local-library zmdi-hc-fw"></i>&nbsp;&nbsp;Añadir Inscripcion <i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                        </ul>
                     <li ><div class="dropdown-menu-button"><a><i class="zmdi zmdi-local-hospital zmdi-hc-fw"></i>&nbsp;&nbsp;Añadir Registros Enfermedad<i class="zmdi zmdi-arrows pull-right zmdi-hc-fw"></a></i></div>
                        <ul class="list-unstyled">
                            <li><a href="/enfermedad/"><i class="zmdi zmdi-local-hospital zmdi-hc-fw"></i>&nbsp;&nbsp; Añadir Enfermedad<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>
                            <li><a href="/enfermedalum/"><i class="zmdi zmdi-local-hospital zmdi-hc-fw"></i>&nbsp;&nbsp; Añadir Enfermedad alumnos<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>
                        </ul>
                    </li>
                     <li>
                        <div class="dropdown-menu-button"><a><i class="zmdi zmdi-account-circle zmdi-hc-fw"></i>&nbsp;&nbsp;Añadir el Registros Pofesor<i class="zmdi zmdi-arrows pull-right zmdi-hc-fw"></a></i></div>
                        <ul class="list-unstyled">
                            <li><a href="/profesor/"><i class="zmdi zmdi-account-o zmdi-hc-fw"></i>&nbsp;&nbsp; Añadir el profesor<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                            <li><a href="/seccion/"><i class="zmdi zmdi-account-o zmdi-hc-fw"></i>&nbsp;&nbsp; Añadir el seccion<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                            <li><a href="/seccionprof/"><i class="zmdi zmdi-account-o zmdi-hc-fw"></i>&nbsp;&nbsp; Añadir el seccion profesor<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>
                           
                        </ul>
                    </li>
                    <li>
                        <div class="dropdown-menu-button"><a><i class="zmdi zmdi-accounts-list-alt zmdi-hc-fw"></i>&nbsp;&nbsp;Listado de habitante<i class="zmdi zmdi-arrows pull-right zmdi-hc-fw"></i></a></div>

                        <ul class="list-unstyled">
                        <li><a href="/listado_habitante/"><i class="zmdi zmdi-view-list zmdi-hc-fw"></i>&nbsp;&nbsp; Listado de Habitante <i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                        <li><a href="/listado_solicitud/"><i class="zmdi zmdi-view-list zmdi-hc-fw"></i>&nbsp;&nbsp; Listado de Solicitud<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                        <li><a href="/listado_inspeccion/"><i class="zmdi zmdi-view-list zmdi-hc-fw"></i>&nbsp;&nbsp; Listado de Inspeccion<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                        <li><a href="/listado_beneficiario/"><i class="zmdi zmdi-view-list zmdi-hc-fw"></i>&nbsp;&nbsp; Listado de  Beneficios<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                        <li><a href="/listado_donaciones/"><i class="zmdi zmdi-view-list zmdi-hc-fw"></i>&nbsp;&nbsp; Listado de Donaciones<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                        <li><a href="/listado_supervicion/"><i class="zmdi zmdi-view-list zmdi-hc-fw"></i>&nbsp;&nbsp; Listado de Supervición<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                        <li><a href="/listado_entrega/"><i class="zmdi zmdi-view-list zmdi-hc-fw"></i>&nbsp;&nbsp; Listado de Entrega<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i> 
                        </ul>
                    </li>
                     <li>
                        <div class="dropdown-menu-button"><a><i class="zmdi zmdi-accounts-list-alt zmdi-hc-fw"></i>&nbsp;&nbsp;Listado de los alumnos<i class="zmdi zmdi-arrows pull-right zmdi-hc-fw"></i></a></div>
                        <ul class="list-unstyled">
                        <li><a href="/listado_de_representante/"><i class="zmdi zmdi-view-list zmdi-hc-fw"></i>&nbsp;&nbsp;Lista de Representante <i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                        <li><a href="/listado_alumno/"><i class="zmdi zmdi-view-list zmdi-hc-fw"></i>&nbsp;&nbsp;Lista de Alumnos<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>
                        <li><a href="/listado_inscripcion/"><i class="zmdi zmdi-view-list zmdi-hc-fw"></i>&nbsp;&nbsp;Lista de Inscripcion<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                        <li><a href="/listado_enfermedad/"><i class="zmdi zmdi-view-list zmdi-hc-fw"></i>&nbsp;&nbsp;Lista de Enfermedad<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                        <li><a href="/listado_enfermedadal/"><i class="zmdi zmdi-view-list zmdi-hc-fw"></i>&nbsp;&nbsp;Lista de Enfermedad Alumno<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                        <li><a href="/listado_profesor/"><i class="zmdi zmdi-view-list zmdi-hc-fw"></i>&nbsp;&nbsp;Lista de Profesor<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                        <li><a href="/listado_seccion/"><i class="zmdi zmdi-view-list zmdi-hc-fw"></i>&nbsp;&nbsp;Lista de Seccion<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                        <li><a href="/listado_seccionprof/"><i class="zmdi zmdi-view-list zmdi-hc-fw"></i>&nbsp;&nbsp;Lista de Seccion del profesor<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>
                            
                        </ul>
                    </li>
                 <li>  
                      <li>
                        <div class="dropdown-menu-button"><a><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i>&nbsp;&nbsp;Añadir las cartas del Habitante<i class="zmdi zmdi-arrows pull-right zmdi-hc-fw"></i></a></div>

                    <ul class="list-unstyled">
                        <li><a href="//"><i class="zmdi zmdi-account-box-mail zmdi-hc-fw"></i>&nbsp;&nbsp; <i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                        <li><a href="//"><i class="zmdi zmdi-account-box-mail  zmdi-hc-fw"></i>&nbsp;&nbsp;<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>
                        
                        <li><a href="//"><i class="zmdi zmdi-account-box-mail  zmdi-hc-fw"></i>&nbsp;&nbsp;<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>

                        <li><a href="//"><i class="zmdi zmdi-account-box-mail  zmdi-hc-fw"></i>&nbsp;&nbsp;<i class="zmdi zmdi-arrow-back pull-right zmdi-hc-fw"></a></li></i>                     
                        </ul>
                    </li>
                 <li>  
            </div>
        </div>
    </div>
  <div class="content-page-container full-reset custom-scroll-containers">
      <img src="{% static 'img/logo/centillounico.png' %}" style="max-width: 100%;width:100%; height: 50px;">
        <nav ass="navbar-user-top full-reset">
            <ul class="list-unstyled full-reset">
             <figure>
                   <img src="{% static 'cssform/assets/img/018-people-57.png'%}" alt="user-picture" class="img-responsive img-circle center-box">
                </figure>
                 <li style="color:#fff; cursor:default;">
                    <span class="all-tittles" style=" color: #fff;
                     ">{%if user.is_authenticated %} {{user.username}}{%endif%}</span>
                </li>
                <li  class="tooltips-general exit-system-button" data-href="/" data-placement="bottom" title="Salir del sistema">
                    <i class="zmdi zmdi-power"></i>
                </li>
                <li  class="tooltips-general btn-help" data-placement="bottom" title="Ayuda">
                    <i class="zmdi zmdi-help-outline zmdi-hc-fw"></i>
                </li>
                <li class="mobile-menu-button visible-xs" style="float: left !important;">
                    <i class="zmdi zmdi-menu"></i>
                </li>
            </ul>
        </nav>

{% endblock %}
  <meta charset="UTF-8"></head>
<body>

{% block context%}

{% endblock %}

{% block js%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static 'cssform/js/jquery-1.11.2.min.js' %}"><\/script>')</script>
<script src="{% static 'cssform/js/modernizr.js' %}"></script>
<script src="{% static 'media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'media/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'cssform/js/bootstrap.min.js' %}"></script>
<script src="{% static 'cssform/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'cssform/js/http://code.jquery.com/jquery-latest.js' %}"></script>
<script src="{% static 'cssform/js/sweet-alert.min.js' %}"></script>
<script src="{% static 'cssform/js/main.js' %}"></script>
<script src="{% static 'cssform/js/bundle/app.js' %}"></script>
{% endblock %}
</body>
</html>

